.manageOrders__box-first-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 10px 0;
	min-width: 650px;
	border-bottom: 1px solid lightgray;
	border-radius: 10px 10px 0 0;
}

.manageOrders__box .manageOrders__box-first-table td {
	padding: 0 0 5px 0;
	font-size: small;
	font-weight: 600;
}

.manageOrders__box-first-table th {
	padding: 5px 0;
}

.manageOrders__box-status-txt-pending {
	background: #f9ca3f;
	padding: 4px 7px;
	border-radius: 7px;
	color: #fff;
}

.manageOrders__box-status-txt-delivered {
	background: #8de02c;
	padding: 4px 7px;
	border-radius: 7px;
	color: #fff;
}

.manageOrders__box-description {
	overflow: hidden;
	transition: all 0.6s ease-in-out;
	min-width: 650px;
}

.manageOrders__box-second-table {
	width: 100%;
	border: 2px solid dodgerblue;
	border-collapse: collapse;
	border-spacing: 10px 0;
}

.manageOrders__box-second-table th {
	padding: 10px;
}

.manageOrders__box .manageOrders__box-second-table td {
	padding: 5px 10px;
	font-size: small;
	color: rgb(109, 108, 108);
	font-weight: 600;
}

td,
th {
	width: 21%;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.2px;
}

.manageOrders__box-second-table td::first-letter {
	font-size: 16px;
}
