.cart__product * {
  margin: 0;
  padding: 0;
}

.cart__product {
  width: 70%;

  height: 100px;
  padding: 10px;
  max-height: 120px;
  box-shadow: 1px 3px 10px #ccc;
  max-width: 70%;
}

.cart__product-container {
  display: flex;
  max-height: 100%;
  justify-content: space-between;
}

.cart__product-image-container {
  flex: 0.2;
}

.cart__product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__product-text-section {
  flex: 0.7;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__product-title {
  font-size: large;
  letter-spacing: 1px;
  font-weight: 600;
}

.cartProduct__description {
  font-size: medium;
}

.cart__product-price {
  letter-spacing: 0.6px;
  font-size: larger;
  font-weight: 600;
}

.cart__product-price-incre {
  display: flex;
  justify-content: flex-end;
}

.cartProduct__minus,
.cartProduct__plus {
  background: #d70f64;
  color: white;
  font-size: xx-large;
  border: none;
}

.cartProduct__same {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.cartProduct__quantity {
  background: white;
  font-size: large;
  font-weight: bold;
}
