.order__success * {
	font-family: "Montserrat";
}
.order__success {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 70px);
}

.order__success-back-link {
	font-size: small;
	text-decoration: underline;
	position: absolute;
	left: 10px;
	top: 80px;
}
.order__success-container {
	position: relative;
	width: 80%;
	max-width: 900px;
	background: white;
	min-height: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 0;
	border-radius: 10px;
}

.order__success-confirm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.order__success-confirm > h2 {
	padding: 0 10px;
	letter-spacing: 0.8px;
	margin-top: 5px;
}

.order__success-confirm img {
	padding: 0 10px;
}

.order__success-success-text {
	margin-top: 20px;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 0.6px;
	width: 60%;
	text-align: center;
	line-height: 1.2;
}

.order__success-ordnum-text {
	margin: 10px 0;
	font-size: medium;
	font-weight: normal;
}

.order__success-warning-text {
	font-size: small;
}

.order__success-total-text {
	margin: 20px 0;
}

.order__success-total-text > span {
	font-size: large;
	font-weight: bold;
}

.order__success-inconv-text {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 5px;
	font-size: 14px;
}
.order__success-order-details-link {
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: small;
	text-decoration: underline;
	color: blue;
}

@media only screen and (max-width: 700px) {
	.order__success-container {
		width: 99%;
		padding: 50px 0;
		margin-top: 50px;
		margin-bottom: 30px;
	}

	.order__success-success-text {
		width: 99%;
	}

	.order__success-inconv-text {
		text-align: center;
		padding: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 99%;
	}
}
