.allproducts__header {
  position: relative;
  right: 0;
  width: 100%;
  display: flex;
  height: 70px;
  box-shadow: 1px 1px 10px #ddd;
  margin-top: 10px;
}

.allproducts__header-content {
  position: relative;
}

.allproducts__header a {
  color: black;
}

.order__categories {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
}

.order__categories::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.order__category {
  min-width: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 2px;
  letter-spacing: 0.9px;
  font-size: medium;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

.order__category:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 21;
  height: 2px;
  width: 100%;
  background: #d70f64;
  animation-name: category-border;
  animation-duration: 0.2s;
}

@keyframes category-border {
  from {
    width: 30%;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}
