.menu {
  height: max-content;
  position: relative;
  padding: 20px;
  /* background-image: url("https://images.pexels.com/photos/7598248/pexels-photo-7598248.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  background-image: url("https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.menu__title {
  margin-left: 20px;
}

.menu__categories {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__category {
  margin: 15px 0;
  min-width: 200px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  text-align: center;
}

.menu__category-title {
  font-size: xx-large;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.menu__category-title::first-letter {
  font-size: 2.6rem;
}

.menu__category-list {
  list-style: none;
  /* line-height: 2; */
}

.menu__category-list li {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 25px 0;
}

.menu-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-page h4 {
  margin-right: 10px;
}

.menu-to-menuscreen-arrow {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: dodgerblue;
  color: white;
  height: 40px;
  margin-left: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.menu-to-menuscreen-arrow:hover {
  box-shadow: 0 0 1px 10px #ccc;
}
