.home__slider-front {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  transform: translateY(-70px);
  background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");

  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  /* padding: 70px 20px 0 20px; */
}

/* .home__slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
} */
/* 
.home__slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.sliderPostal__title {
  margin-bottom: 10px;
}

.sliderFront__sidebox {
  position: absolute;
  /* margin-top: calc(70px + 30px);
  margin-left: 20px; */
  left: 20px;
  top: 110px;
  /* margin-top: calc(70px + 30px); */
  /* margin-left: 20px; */
  background: #d70f64;
  width: 180px;
  height: 180px;
  max-height: 180px;
  max-width: 180px;
  /* background-color: brown; */
  flex: 0.2;
  color: white;
  padding: 10px;
}

.sliderFront__sidebox-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.sliderFront__sidebox-line span {
  font-size: 13px;
  font-family: "Montserrat";
}

.sliderFront__sidebox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderFront__order-btn {
  padding: 6px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  transition: all 0.15s linear;
  background: white;
  color: black;
}

.sliderFront__order-btn:hover {
  background: dodgerblue;
  color: white;
}

.home__address-postal-field {
  margin: 0 auto;
  /* width: 90%; */
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sliderPostalCode__field {
  display: flex;
  justify-content: center;
  background: white;
  padding: 10px 20px;
}

.sliderPostalCode__input-field {
  padding: 10px 5px;
  min-width: 300px;
  border: 1px solid lightgray;
  margin-right: 10px;
  font-size: 15px;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.sliderPostalCode__find-btn {
  background: white;
  padding: 10px 30px;
  margin-left: 10px;
  border: none;
  font-size: large;
  font-weight: bold;
  background: #d70f64;
  color: white;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.home__address-field {
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 100%; */
  /* min-width: 90%; */
  flex: 1;
  /* background: purple; */
  display: none;
  height: calc(100vh);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider__title {
  margin-top: -75px;
  margin-bottom: 20px;
}

.home__location {
  background: white;
  padding: 10px 20px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 7px #555;
  /* margin-bottom: 30px; */
}
.location__field {
  outline: none;
  border: none;
  width: calc(100% - 60px);
  padding: 8px 30px;
  height: 30px;
  flex: 0.8;
  border: 0.5px solid lightgray;
  font-family: "Montserrat", "Encode Sans SC", serif;
  transition: transform 0.2s linear;
  font-size: small;
  letter-spacing: 1px;
}

.location__field:focus {
  transform: scale(1.03);
}

input.location__field::placeholder {
  font-family: "Montserrat", "Encode Sans SC", serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.location__field-btn {
  font-family: "Montserrat", "Ubuntu", "Encode Sans SC", serif;
  font-weight: 600;
  letter-spacing: 1.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 8px 30px;
  flex: 0.15;
  height: 100%;
  min-height: 30px;
}

@media only screen and (max-width: 1100px) {
  .home__location {
    width: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  .home__address-field {
    /* justify-content: flex-end; */
    position: relative;
    left: 50%;
    top: 310px;
    transform: translate(-50%, 0);
  }

  .home__location {
    width: 50%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .home__location {
    width: 60%;
  }
  .sliderFront__sidebox {
    left: 50%;
    top: 110px;
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 700px) {
  .home__address-field {
    width: 90%;
    /* margin: -65px auto; */
  }

  .home__location {
    flex-direction: column;
    width: 90%;
  }

  .location__field:focus {
    transform: scale(1);
  }

  .location__field-btn {
    width: 100%;
    margin: 10px 0;
  }

  .location__field-btn:hover {
    transform: scale(1.02);
  }
}

/* .btnClick {
  transform: scale(8);
  position: relative;
}

.btnClick::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: black;
  opacity: 0.1;
} */
