.home__slider-front {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
  transform: translateY(-70px);
}

.home__slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.home__slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sliderPostal__title {
  margin-bottom: 10px;
}

.sliderFront__sidebox {
  position: absolute;
  left: 20px;
  top: 140px;
  background: #d70f64;
  width: 180px;
  height: 180px;
  color: white;
  padding: 10px;
}

.sliderFront__sidebox-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.sliderFront__sidebox-line span {
  font-size: 13px;
  font-family: "Montserrat";
}

.sliderFront__sidebox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderFront__order-btn {
  padding: 6px 15px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  transition: all 0.15s linear;
  background: white;
  color: black;
}

.sliderFront__order-btn:hover {
  background: dodgerblue;
  color: white;
}

.home__address-postal-field {
  margin: 0 auto;
  width: 90%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sliderPostalCode__field {
  display: flex;
  justify-content: center;
  background: white;
  padding: 10px 20px;
}

.sliderPostalCode__input-field {
  padding: 10px 5px;
  min-width: 300px;
  border: 1px solid lightgray;
  margin-right: 10px;
  font-size: 15px;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.sliderPostalCode__find-btn {
  background: white;
  padding: 10px 30px;
  margin-left: 10px;
  border: none;
  font-size: large;
  font-weight: bold;
  background: #d70f64;
  color: white;
  letter-spacing: 1.1px;
  cursor: pointer;
}

.home__address-field {
  margin: 0 auto;
  width: 90%;
  display: none;
  height: calc(110vh);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider__title {
  margin-top: -75px;
  margin-bottom: 20px;
}

.home__location {
  background: white;
  padding: 10px 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 3px 3px 7px lightgrey;
}
.location__field {
  outline: none;
  border: none;
  width: calc(100% - 60px);
  padding: 10px 30px;
  height: 30px;
  border: 0.5px solid lightgray;
  font-family: "Josefin Slab", "Ubuntu", "Encode Sans SC", serif;
  transition: transform 0.2s linear;
  min-width: 300px;
  font-size: medium;
}

.location__field:focus {
  transform: scale(1.07);
}

input.location__field::placeholder {
  font-family: "Josefin Slab", "Ubuntu", "Encode Sans SC", serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.location__field-btn {
  font-family: "Josefin Slab", "Ubuntu", "Encode Sans SC", serif;
  font-weight: 600;
  letter-spacing: 1.1px;
  font-size: 1.4rem;
  padding: 12px 30px;
  min-height: 30px;
  margin: 10px 20px;
}

@media only screen and (max-width: 700px) {
  .home__address-field {
    width: 90%;
    margin: -65px auto;
  }

  .home__location {
    flex-direction: column;
    width: 90%;
  }

  .location__field:focus {
    transform: scale(1);
  }

  .location__field-btn {
    width: 100%;
    margin: 10px 0;
  }

  .location__field-btn:hover {
    transform: scale(1.02);
  }
}

.btnClick {
  transform: scale(8);
  position: relative;
}

.btnClick::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: black;
  opacity: 0.1;
}
