.order {
  margin: 0;
  width: 70%;
}

.order__banner {
  height: 40vh;
  z-index: -1;
}

.order__banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.order__header {
  z-index: 1;
  height: 60px;
  top: 70px;
  left: 0;
  background: #eee;
  margin: 0;
  user-select: none;
}

.order__categories {
  position: relative;
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
}

.order__categories::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.order__category {
  min-width: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 2px;
  letter-spacing: 0.9px;
  font-size: medium;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

.order__category:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 21;
  height: 2px;
  width: 100%;
  background: #d70f64;
  animation-name: category-border;
  animation-duration: 0.2s;
}

@keyframes category-border {
  from {
    width: 30%;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

.order__allContainer {
  background: #fff;
}

.order__container-category {
  padding: 10px 0;
}

.order__container-category-data img {
  object-fit: cover;
  margin-bottom: 10px;
}

.order__container-category-data {
  width: 90%;
  margin: 0 auto;
}

.order__container-category-text {
  padding: 7px 0;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  font-size: x-large;
}

.order__container {
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  justify-content: center;
  margin-bottom: 15px;
}

.order__container > * {
  min-width: 230px;
  flex: 1 1 40%;
}

.restaurantMenuIcon {
  color: #d70f64;
}

@media only screen and (max-width: 1244px) {
  .order {
    width: 65%;
  }
  .order__right-section {
    min-width: calc(35% - 60px);
  }
}

@media only screen and (max-width: 1066px) {
  .order {
    width: 60%;
  }
  .order__right-section {
    min-width: calc(40% - 60px);
  }
}

@media only screen and (max-width: 900px) {
  .order {
    width: 57%;
  }
  .order__right-section {
    min-width: calc(43% - 60px);
  }
}

@media only screen and (max-width: 700px) {
  .order__right-section-order {
    display: none;
  }

  .order__container-category-data {
    width: calc(100% - 20px);
  }

  .order {
    width: 100%;
  }
}
