#content > table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  max-width: 700px;
}

#content th {
  font-size: large;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

#content td {
  font-size: medium;
  font-weight: 600;
  /* letter-spacing: 0.5px; */
  /* text-transform: capitalize; */
}

#content td,
#content th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
