.login {
  width: 100%;
  height: calc(100vh - 70px);
  color: white;
  position: relative;
}

.login__form {
  position: absolute;
  right: 100px;
  top: calc(50% - 70px);
  transform: translate(0, -50%);
  height: max-content;
  width: 400px;
  min-width: 330px;
  box-shadow: 3px 6px 25px 10px rgb(201, 199, 199);
  background: #ddd;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login__input-group {
  display: flex;
  margin: 5px 0;
  flex-direction: column;
}

.login__input-group label {
  margin: 0 5px;
  font-weight: 600;
  letter-spacing: 1px;
}

.login__input {
  padding: 15px 15px;
  margin: 5px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.login__input::placeholder {
  font-weight: 600;
  /* font-family: "Montserrat"; */
  font-size: larger;
  letter-spacing: 1px;
}

.login__register,
.forgot-password {
  text-align: right;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 2px;
  letter-spacing: 0.7px;
  color: black;
}

.login__register a,
.forgot-password a {
  text-decoration: dashed;
  color: blue;
}

.login__submit-button {
  font-size: large;
  letter-spacing: 0.5px;
  background: dodgerblue;
  cursor: pointer;
  color: white;
}

.login__submit-button:hover {
  background-color: rgb(20, 129, 238);
}
