.btn {
  padding: 7px 15px;
}

a {
  text-decoration: none;
}

.btn-dark {
  color: #ffffff;
  background: rgb(0, 0, 0);
}

.btn-main {
  font-size: xx-large;
  font-weight: 700;
}

.btn-primary {
  color: white;
  background: dodgerblue;
  outline: none;
  border: none;
}

.btn-anim {
  cursor: pointer;
  transition: all 0.15s linear;
}

.btn-anim:hover {
  background: rgb(45, 147, 250);
  color: white;
  transform: scale(1.06);
}

.menu-to-menuscreen-arrow {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(250, 51, 134);
  color: white;
  height: 35px;
  margin-left: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.menu-to-menuscreen-arrow:active {
  transform: scale(0.9);
}

.menu-to-menuscreen-arrow:hover {
  box-shadow: 0 0 5px 10px #ccc;
}
